html, body {
    background-color: #3F3F3F;
    margin: 0;
    padding: 0;
}

#main_area {
    position: relative;
    background-color: #4F4F4F;
    font-family: 'Cantarell', arial, serif;
    margin: 0 auto 0 auto;
    width: 75%;
    padding: 1%;
    border-left: 1px solid #549E57;
    border-right: 1px solid #549E57;
    border-bottom: 1px dashed grey;
}

.separator {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-bottom: 1px solid grey;
}

.great_block {
    background-color: #3F3F3F;
    padding: 1pc;
    margin-bottom: 10px;
    border: 1px solid grey;
}

.go up {
    position: relative;
    text-align: right;
}

.go_up a {
    color: #C96B6D;
    text-decoration: none;
}

#header h1 {
    position: relative;
    margin-left: 10%;
    font-size: 40px;
}

#menu {
    position: relative;
    border-top: 1px solid grey;
    border-bottom: 1px dashed grey;
    margin-bottom: 1pc;
    padding: 1pc;
}

#menu ul {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: left;
    list-style-type: none;
    list-style-position: inside;
    display: inline;
}

#menu ul li {
    display: inline;
    font-size: 20px;
    color: #549E57;
    margin-right: 2pc;
}

#menu li a {
    color: #888888;
    text-decoration: none;
}

#menu li a:hover {
    color: #AAAAAA;
}

.contributions {
    position: relative;
    margin-bottom: 200px;
    padding: 0;
}

.contributions h2 {
    margin-bottom: 1pc;
}

.contribution {
    position: relative;
    float: left;
    margin-bottom: 1pc;
    background-color: #3F3F3F;
    border: 1px solid grey;
    padding: 0 1pc 0 1pc;
}

.contribution h3 {
    margin-left: 6pc;
}

.contribution p {
    text-indent: 0;
}

.contribution .role {
    font-style: italic;
}

.contribution .summary {
    font-weight: bold;
}

.contribution .platforms {
    position: relative;
    color: #549E57;
}

.contribution img {
    float: left;
    margin-right: 2pc;
    margin-bottom: 2pc;
}

.contribution .features {
    position: relative;
}

ul li {
    color: #AAAAAA;
}

h1 {
    font-size: 32px;
    padding: 0;
    margin: 0 0 1pc 0;
    color: #AAAAAA;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    color: #549E57;
}

h3 {
    font-size: 24px;
    color: #C96B6D;
}

h4 {
    font-size: 20px;
    color: #85B37F;
}

p {
    text-indent: 2pc;
    color: #AAAAAA;
}

a {
    color: grey;
}

#footpage {
}

#footpage p {
    margin: 2pc 0 0 0;
    padding: 0;
    text-align: center;
    color: #AAAAAA;
}

span.green-color {
    color: #549E57;
}
